body{
	
	margin-left:0px;
	margin-right:0px;
	padding-right:0px;
}
ul{
	margin: 0px;
	padding:0px;
}
.my_menu{
	position: absolute;
	width:100%;
	height:auto;
	background-color: #2196f3;
}
.menu{
	width:100%;
	height:50px;
	background-color: #2196f3;
}


.menu li{
	list-style: none;
	width: 160px;
	height: 50px;
	background-color: #2196f3;
	margin left: 40px;
	text-align: center;
	line-height:50px;
	float: left;
}
.menu li:hover{
	background-color: black;
	.menu li a: hover;
	color: black;
}
.menu li a{
	color: white;
	display: block;
	text-decoration:none;
	
}
.logo{
	width:90px;
}
.logo_li:hover{
	background-color:#2196f3!important;
	
}
.menu ul li {
	margin:0px;
}
.menu ul{
	display:none;
}
.menu li:hover ul{
	display:block;
}

#banner{
width: 100%;
}
#banner img{
	width:100%;
}





























